<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the historico_vt_init() hook (in hooks/historico_vt.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="historico_vt-VcrId-<%%VALUE(VcrId)%%>" class="historico_vt-VcrId text-right"><%%VALUE(VcrId)%%></td>
		<td id="historico_vt-VcrCodHis-<%%VALUE(VcrId)%%>" class="historico_vt-VcrCodHis text-right"><%%VALUE(VcrCodHis)%%></td>
		<td id="historico_vt-Vcrano-<%%VALUE(VcrId)%%>" class="historico_vt-Vcrano"><%%VALUE(Vcrano)%%></td>
		<td id="historico_vt-VcrIdSerP-<%%VALUE(VcrId)%%>" class="historico_vt-VcrIdSerP text-right"><%%VALUE(VcrIdSerP)%%></td>
		<td id="historico_vt-VcrIdSol-<%%VALUE(VcrId)%%>" class="historico_vt-VcrIdSol"><%%VALUE(VcrIdSol)%%></td>
		<td id="historico_vt-VcrRadSol-<%%VALUE(VcrId)%%>" class="historico_vt-VcrRadSol"><%%VALUE(VcrRadSol)%%></td>
		<td id="historico_vt-VcrFecSol-<%%VALUE(VcrId)%%>" class="historico_vt-VcrFecSol"><%%VALUE(VcrFecSol)%%></td>
		<td id="historico_vt-VcrRadRes-<%%VALUE(VcrId)%%>" class="historico_vt-VcrRadRes text-right"><%%VALUE(VcrRadRes)%%></td>
		<td id="historico_vt-VcrFecRad-<%%VALUE(VcrId)%%>" class="historico_vt-VcrFecRad"><%%VALUE(VcrFecRad)%%></td>
		<td id="historico_vt-VcrDiaResp-<%%VALUE(VcrId)%%>" class="historico_vt-VcrDiaResp text-right"><%%VALUE(VcrDiaResp)%%></td>
		<td id="historico_vt-VcrIdRie-<%%VALUE(VcrId)%%>" class="historico_vt-VcrIdRie text-right"><%%VALUE(VcrIdRie)%%></td>
		<td id="historico_vt-VcrEntSol-<%%VALUE(VcrId)%%>" class="historico_vt-VcrEntSol"><%%VALUE(VcrEntSol)%%></td>
		<td id="historico_vt-VcrNomAti-<%%VALUE(VcrId)%%>" class="historico_vt-VcrNomAti"><%%VALUE(VcrNomAti)%%></td>
		<td id="historico_vt-VcrNoIde-<%%VALUE(VcrId)%%>" class="historico_vt-VcrNoIde"><%%VALUE(VcrNoIde)%%></td>
		<td id="historico_vt-VcrCel-<%%VALUE(VcrId)%%>" class="historico_vt-VcrCel text-right"><%%VALUE(VcrCel)%%></td>
		<td id="historico_vt-VcrCodForm-<%%VALUE(VcrId)%%>" class="historico_vt-VcrCodForm"><%%VALUE(VcrCodForm)%%></td>
		<td id="historico_vt-VcrFecVis-<%%VALUE(VcrId)%%>" class="historico_vt-VcrFecVis"><%%VALUE(VcrFecVis)%%></td>
		<td id="historico_vt-VcrDir-<%%VALUE(VcrId)%%>" class="historico_vt-VcrDir"><%%VALUE(VcrDir)%%></td>
		<td id="historico_vt-VcrIdBarVe-<%%VALUE(VcrId)%%>" class="historico_vt-VcrIdBarVe"><%%VALUE(VcrIdBarVe)%%></td>
		<td id="historico_vt-VcrIdCom-<%%VALUE(VcrId)%%>" class="historico_vt-VcrIdCom"><%%VALUE(VcrIdCom)%%></td>
		<td id="historico_vt-VcrIdCorr-<%%VALUE(VcrId)%%>" class="historico_vt-VcrIdCorr"><%%VALUE(VcrIdCorr)%%></td>
		<td id="historico_vt-VcrLon-<%%VALUE(VcrId)%%>" class="historico_vt-VcrLon"><%%VALUE(VcrLon)%%></td>
		<td id="historico_vt-VcrLat-<%%VALUE(VcrId)%%>" class="historico_vt-VcrLat"><%%VALUE(VcrLat)%%></td>
		<td id="historico_vt-VcrIdMot-<%%VALUE(VcrId)%%>" class="historico_vt-VcrIdMot"><%%VALUE(VcrIdMot)%%></td>
		<td id="historico_vt-VcrIdFen-<%%VALUE(VcrId)%%>" class="historico_vt-VcrIdFen"><%%VALUE(VcrIdFen)%%></td>
		<td id="historico_vt-VcrIdCar-<%%VALUE(VcrId)%%>" class="historico_vt-VcrIdCar"><%%VALUE(VcrIdCar)%%></td>
		<td id="historico_vt-VcrAyuHum-<%%VALUE(VcrId)%%>" class="historico_vt-VcrAyuHum"><%%VALUE(VcrAyuHum)%%></td>
		<td id="historico_vt-VcrPerHer-<%%VALUE(VcrId)%%>" class="historico_vt-VcrPerHer"><%%VALUE(VcrPerHer)%%></td>
		<td id="historico_vt-VcrPerFall-<%%VALUE(VcrId)%%>" class="historico_vt-VcrPerFall"><%%VALUE(VcrPerFall)%%></td>
		<td id="historico_vt-VcrTraCas-<%%VALUE(VcrId)%%>" class="historico_vt-VcrTraCas"><%%VALUE(VcrTraCas)%%></td>
		<td id="historico_vt-VcrCop-<%%VALUE(VcrId)%%>" class="historico_vt-VcrCop"><%%VALUE(VcrCop)%%></td>
		<td id="historico_vt-VcrEstTra-<%%VALUE(VcrId)%%>" class="historico_vt-VcrEstTra"><%%VALUE(VcrEstTra)%%></td>
		<td id="historico_vt-VcrObsHis-<%%VALUE(VcrId)%%>" class="historico_vt-VcrObsHis"><%%VALUE(VcrObsHis)%%></td>
		<td id="historico_vt-VcrUbiInf-<%%VALUE(VcrId)%%>" class="historico_vt-VcrUbiInf"><%%VALUE(VcrUbiInf)%%></td>
		<td id="historico_vt-VcrResInf-<%%VALUE(VcrId)%%>" class="historico_vt-VcrResInf"><%%VALUE(VcrResInf)%%></td>
		<td id="historico_vt-VcrIdTra1-<%%VALUE(VcrId)%%>" class="historico_vt-VcrIdTra1"><%%VALUE(VcrIdTra1)%%></td>
		<td id="historico_vt-VcrRadTra1-<%%VALUE(VcrId)%%>" class="historico_vt-VcrRadTra1"><%%VALUE(VcrRadTra1)%%></td>
		<td id="historico_vt-VcrFecTra1-<%%VALUE(VcrId)%%>" class="historico_vt-VcrFecTra1"><%%VALUE(VcrFecTra1)%%></td>
		<td id="historico_vt-VcrResTra1-<%%VALUE(VcrId)%%>" class="historico_vt-VcrResTra1"><%%VALUE(VcrResTra1)%%></td>
		<td id="historico_vt-VcrIdTra2-<%%VALUE(VcrId)%%>" class="historico_vt-VcrIdTra2"><%%VALUE(VcrIdTra2)%%></td>
		<td id="historico_vt-VcrRadTra2-<%%VALUE(VcrId)%%>" class="historico_vt-VcrRadTra2"><%%VALUE(VcrRadTra2)%%></td>
		<td id="historico_vt-VcrFecTra2-<%%VALUE(VcrId)%%>" class="historico_vt-VcrFecTra2"><%%VALUE(VcrFecTra2)%%></td>
		<td id="historico_vt-VcrResTra2-<%%VALUE(VcrId)%%>" class="historico_vt-VcrResTra2"><%%VALUE(VcrResTra2)%%></td>
		<td id="historico_vt-VcrIdTra3-<%%VALUE(VcrId)%%>" class="historico_vt-VcrIdTra3"><%%VALUE(VcrIdTra3)%%></td>
		<td id="historico_vt-VcrRadTra3-<%%VALUE(VcrId)%%>" class="historico_vt-VcrRadTra3"><%%VALUE(VcrRadTra3)%%></td>
		<td id="historico_vt-VcrFecTra3-<%%VALUE(VcrId)%%>" class="historico_vt-VcrFecTra3"><%%VALUE(VcrFecTra3)%%></td>
		<td id="historico_vt-VcrResTra3-<%%VALUE(VcrId)%%>" class="historico_vt-VcrResTra3"><%%VALUE(VcrResTra3)%%></td>
		<td id="historico_vt-VcrIdTra4-<%%VALUE(VcrId)%%>" class="historico_vt-VcrIdTra4"><%%VALUE(VcrIdTra4)%%></td>
		<td id="historico_vt-VcrRadTra4-<%%VALUE(VcrId)%%>" class="historico_vt-VcrRadTra4"><%%VALUE(VcrRadTra4)%%></td>
		<td id="historico_vt-VcrFecTra4-<%%VALUE(VcrId)%%>" class="historico_vt-VcrFecTra4"><%%VALUE(VcrFecTra4)%%></td>
		<td id="historico_vt-VcrResTra4-<%%VALUE(VcrId)%%>" class="historico_vt-VcrResTra4"><%%VALUE(VcrResTra4)%%></td>
		<td id="historico_vt-VcrIdTra5-<%%VALUE(VcrId)%%>" class="historico_vt-VcrIdTra5 text-right"><%%VALUE(VcrIdTra5)%%></td>
		<td id="historico_vt-VcrRadTra5-<%%VALUE(VcrId)%%>" class="historico_vt-VcrRadTra5"><%%VALUE(VcrRadTra5)%%></td>
		<td id="historico_vt-VcrFecTra5-<%%VALUE(VcrId)%%>" class="historico_vt-VcrFecTra5"><%%VALUE(VcrFecTra5)%%></td>
		<td id="historico_vt-VcrResTra5-<%%VALUE(VcrId)%%>" class="historico_vt-VcrResTra5"><%%VALUE(VcrResTra5)%%></td>
		<td id="historico_vt-VcrIdTra6-<%%VALUE(VcrId)%%>" class="historico_vt-VcrIdTra6 text-right"><%%VALUE(VcrIdTra6)%%></td>
		<td id="historico_vt-VcrRadTra6-<%%VALUE(VcrId)%%>" class="historico_vt-VcrRadTra6"><%%VALUE(VcrRadTra6)%%></td>
		<td id="historico_vt-VcrIdTra7-<%%VALUE(VcrId)%%>" class="historico_vt-VcrIdTra7 text-right"><%%VALUE(VcrIdTra7)%%></td>
		<td id="historico_vt-VcrRadTra7-<%%VALUE(VcrId)%%>" class="historico_vt-VcrRadTra7"><%%VALUE(VcrRadTra7)%%></td>
		<td id="historico_vt-VcrIdTra8-<%%VALUE(VcrId)%%>" class="historico_vt-VcrIdTra8 text-right"><%%VALUE(VcrIdTra8)%%></td>
		<td id="historico_vt-VcrRadTra8-<%%VALUE(VcrId)%%>" class="historico_vt-VcrRadTra8"><%%VALUE(VcrRadTra8)%%></td>
