<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the historico_vt_init() hook (in hooks/historico_vt.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="historico_vt-VcrId-<%%VALUE(VcrId)%%>" class="historico_vt-VcrId text-right"><%%SELECT%%><%%VALUE(VcrId)%%><%%ENDSELECT%%></td>
		<td id="historico_vt-VcrCodHis-<%%VALUE(VcrId)%%>" class="historico_vt-VcrCodHis text-right"><%%SELECT%%><%%VALUE(VcrCodHis)%%><%%ENDSELECT%%></td>
		<td id="historico_vt-Vcrano-<%%VALUE(VcrId)%%>" class="historico_vt-Vcrano"><%%SELECT%%><%%VALUE(Vcrano)%%><%%ENDSELECT%%></td>
		<td id="historico_vt-VcrIdSerP-<%%VALUE(VcrId)%%>" class="historico_vt-VcrIdSerP text-right"><%%SELECT%%><%%VALUE(VcrIdSerP)%%><%%ENDSELECT%%></td>
		<td id="historico_vt-VcrIdSol-<%%VALUE(VcrId)%%>" class="historico_vt-VcrIdSol"><%%SELECT%%><%%VALUE(VcrIdSol)%%><%%ENDSELECT%%></td>
		<td id="historico_vt-VcrRadSol-<%%VALUE(VcrId)%%>" class="historico_vt-VcrRadSol"><%%SELECT%%><%%VALUE(VcrRadSol)%%><%%ENDSELECT%%></td>
		<td id="historico_vt-VcrFecSol-<%%VALUE(VcrId)%%>" class="historico_vt-VcrFecSol"><%%SELECT%%><%%VALUE(VcrFecSol)%%><%%ENDSELECT%%></td>
		<td id="historico_vt-VcrRadRes-<%%VALUE(VcrId)%%>" class="historico_vt-VcrRadRes text-right"><%%SELECT%%><%%VALUE(VcrRadRes)%%><%%ENDSELECT%%></td>
		<td id="historico_vt-VcrFecRad-<%%VALUE(VcrId)%%>" class="historico_vt-VcrFecRad"><%%SELECT%%><%%VALUE(VcrFecRad)%%><%%ENDSELECT%%></td>
		<td id="historico_vt-VcrDiaResp-<%%VALUE(VcrId)%%>" class="historico_vt-VcrDiaResp text-right"><%%SELECT%%><%%VALUE(VcrDiaResp)%%><%%ENDSELECT%%></td>
		<td id="historico_vt-VcrIdRie-<%%VALUE(VcrId)%%>" class="historico_vt-VcrIdRie text-right"><%%SELECT%%><%%VALUE(VcrIdRie)%%><%%ENDSELECT%%></td>
		<td id="historico_vt-VcrEntSol-<%%VALUE(VcrId)%%>" class="historico_vt-VcrEntSol"><%%SELECT%%><%%VALUE(VcrEntSol)%%><%%ENDSELECT%%></td>
		<td id="historico_vt-VcrNomAti-<%%VALUE(VcrId)%%>" class="historico_vt-VcrNomAti"><%%SELECT%%><%%VALUE(VcrNomAti)%%><%%ENDSELECT%%></td>
		<td id="historico_vt-VcrNoIde-<%%VALUE(VcrId)%%>" class="historico_vt-VcrNoIde"><%%SELECT%%><%%VALUE(VcrNoIde)%%><%%ENDSELECT%%></td>
		<td id="historico_vt-VcrCel-<%%VALUE(VcrId)%%>" class="historico_vt-VcrCel text-right"><%%SELECT%%><%%VALUE(VcrCel)%%><%%ENDSELECT%%></td>
		<td id="historico_vt-VcrCodForm-<%%VALUE(VcrId)%%>" class="historico_vt-VcrCodForm"><%%SELECT%%><%%VALUE(VcrCodForm)%%><%%ENDSELECT%%></td>
		<td id="historico_vt-VcrFecVis-<%%VALUE(VcrId)%%>" class="historico_vt-VcrFecVis"><%%SELECT%%><%%VALUE(VcrFecVis)%%><%%ENDSELECT%%></td>
		<td id="historico_vt-VcrDir-<%%VALUE(VcrId)%%>" class="historico_vt-VcrDir"><%%SELECT%%><%%VALUE(VcrDir)%%><%%ENDSELECT%%></td>
		<td id="historico_vt-VcrIdBarVe-<%%VALUE(VcrId)%%>" class="historico_vt-VcrIdBarVe"><%%SELECT%%><%%VALUE(VcrIdBarVe)%%><%%ENDSELECT%%></td>
		<td id="historico_vt-VcrIdCom-<%%VALUE(VcrId)%%>" class="historico_vt-VcrIdCom"><%%SELECT%%><%%VALUE(VcrIdCom)%%><%%ENDSELECT%%></td>
		<td id="historico_vt-VcrIdCorr-<%%VALUE(VcrId)%%>" class="historico_vt-VcrIdCorr"><%%SELECT%%><%%VALUE(VcrIdCorr)%%><%%ENDSELECT%%></td>
		<td id="historico_vt-VcrLon-<%%VALUE(VcrId)%%>" class="historico_vt-VcrLon"><%%SELECT%%><%%VALUE(VcrLon)%%><%%ENDSELECT%%></td>
		<td id="historico_vt-VcrLat-<%%VALUE(VcrId)%%>" class="historico_vt-VcrLat"><%%SELECT%%><%%VALUE(VcrLat)%%><%%ENDSELECT%%></td>
		<td id="historico_vt-VcrIdMot-<%%VALUE(VcrId)%%>" class="historico_vt-VcrIdMot"><%%SELECT%%><%%VALUE(VcrIdMot)%%><%%ENDSELECT%%></td>
		<td id="historico_vt-VcrIdFen-<%%VALUE(VcrId)%%>" class="historico_vt-VcrIdFen"><%%SELECT%%><%%VALUE(VcrIdFen)%%><%%ENDSELECT%%></td>
		<td id="historico_vt-VcrIdCar-<%%VALUE(VcrId)%%>" class="historico_vt-VcrIdCar"><%%SELECT%%><%%VALUE(VcrIdCar)%%><%%ENDSELECT%%></td>
		<td id="historico_vt-VcrAyuHum-<%%VALUE(VcrId)%%>" class="historico_vt-VcrAyuHum"><%%SELECT%%><%%VALUE(VcrAyuHum)%%><%%ENDSELECT%%></td>
		<td id="historico_vt-VcrPerHer-<%%VALUE(VcrId)%%>" class="historico_vt-VcrPerHer"><%%SELECT%%><%%VALUE(VcrPerHer)%%><%%ENDSELECT%%></td>
		<td id="historico_vt-VcrPerFall-<%%VALUE(VcrId)%%>" class="historico_vt-VcrPerFall"><%%SELECT%%><%%VALUE(VcrPerFall)%%><%%ENDSELECT%%></td>
		<td id="historico_vt-VcrTraCas-<%%VALUE(VcrId)%%>" class="historico_vt-VcrTraCas"><%%SELECT%%><%%VALUE(VcrTraCas)%%><%%ENDSELECT%%></td>
		<td id="historico_vt-VcrCop-<%%VALUE(VcrId)%%>" class="historico_vt-VcrCop"><%%SELECT%%><%%VALUE(VcrCop)%%><%%ENDSELECT%%></td>
		<td id="historico_vt-VcrEstTra-<%%VALUE(VcrId)%%>" class="historico_vt-VcrEstTra"><%%SELECT%%><%%VALUE(VcrEstTra)%%><%%ENDSELECT%%></td>
		<td id="historico_vt-VcrObsHis-<%%VALUE(VcrId)%%>" class="historico_vt-VcrObsHis"><%%SELECT%%><%%VALUE(VcrObsHis)%%><%%ENDSELECT%%></td>
		<td id="historico_vt-VcrUbiInf-<%%VALUE(VcrId)%%>" class="historico_vt-VcrUbiInf"><%%SELECT%%><%%VALUE(VcrUbiInf)%%><%%ENDSELECT%%></td>
		<td id="historico_vt-VcrResInf-<%%VALUE(VcrId)%%>" class="historico_vt-VcrResInf"><%%SELECT%%><%%VALUE(VcrResInf)%%><%%ENDSELECT%%></td>
		<td id="historico_vt-VcrIdTra1-<%%VALUE(VcrId)%%>" class="historico_vt-VcrIdTra1"><%%SELECT%%><%%VALUE(VcrIdTra1)%%><%%ENDSELECT%%></td>
		<td id="historico_vt-VcrRadTra1-<%%VALUE(VcrId)%%>" class="historico_vt-VcrRadTra1"><%%SELECT%%><%%VALUE(VcrRadTra1)%%><%%ENDSELECT%%></td>
		<td id="historico_vt-VcrFecTra1-<%%VALUE(VcrId)%%>" class="historico_vt-VcrFecTra1"><%%SELECT%%><%%VALUE(VcrFecTra1)%%><%%ENDSELECT%%></td>
		<td id="historico_vt-VcrResTra1-<%%VALUE(VcrId)%%>" class="historico_vt-VcrResTra1"><%%SELECT%%><%%VALUE(VcrResTra1)%%><%%ENDSELECT%%></td>
		<td id="historico_vt-VcrIdTra2-<%%VALUE(VcrId)%%>" class="historico_vt-VcrIdTra2"><%%SELECT%%><%%VALUE(VcrIdTra2)%%><%%ENDSELECT%%></td>
		<td id="historico_vt-VcrRadTra2-<%%VALUE(VcrId)%%>" class="historico_vt-VcrRadTra2"><%%SELECT%%><%%VALUE(VcrRadTra2)%%><%%ENDSELECT%%></td>
		<td id="historico_vt-VcrFecTra2-<%%VALUE(VcrId)%%>" class="historico_vt-VcrFecTra2"><%%SELECT%%><%%VALUE(VcrFecTra2)%%><%%ENDSELECT%%></td>
		<td id="historico_vt-VcrResTra2-<%%VALUE(VcrId)%%>" class="historico_vt-VcrResTra2"><%%SELECT%%><%%VALUE(VcrResTra2)%%><%%ENDSELECT%%></td>
		<td id="historico_vt-VcrIdTra3-<%%VALUE(VcrId)%%>" class="historico_vt-VcrIdTra3"><%%SELECT%%><%%VALUE(VcrIdTra3)%%><%%ENDSELECT%%></td>
		<td id="historico_vt-VcrRadTra3-<%%VALUE(VcrId)%%>" class="historico_vt-VcrRadTra3"><%%SELECT%%><%%VALUE(VcrRadTra3)%%><%%ENDSELECT%%></td>
		<td id="historico_vt-VcrFecTra3-<%%VALUE(VcrId)%%>" class="historico_vt-VcrFecTra3"><%%SELECT%%><%%VALUE(VcrFecTra3)%%><%%ENDSELECT%%></td>
		<td id="historico_vt-VcrResTra3-<%%VALUE(VcrId)%%>" class="historico_vt-VcrResTra3"><%%SELECT%%><%%VALUE(VcrResTra3)%%><%%ENDSELECT%%></td>
		<td id="historico_vt-VcrIdTra4-<%%VALUE(VcrId)%%>" class="historico_vt-VcrIdTra4"><%%SELECT%%><%%VALUE(VcrIdTra4)%%><%%ENDSELECT%%></td>
		<td id="historico_vt-VcrRadTra4-<%%VALUE(VcrId)%%>" class="historico_vt-VcrRadTra4"><%%SELECT%%><%%VALUE(VcrRadTra4)%%><%%ENDSELECT%%></td>
		<td id="historico_vt-VcrFecTra4-<%%VALUE(VcrId)%%>" class="historico_vt-VcrFecTra4"><%%SELECT%%><%%VALUE(VcrFecTra4)%%><%%ENDSELECT%%></td>
		<td id="historico_vt-VcrResTra4-<%%VALUE(VcrId)%%>" class="historico_vt-VcrResTra4"><%%SELECT%%><%%VALUE(VcrResTra4)%%><%%ENDSELECT%%></td>
		<td id="historico_vt-VcrIdTra5-<%%VALUE(VcrId)%%>" class="historico_vt-VcrIdTra5 text-right"><%%SELECT%%><%%VALUE(VcrIdTra5)%%><%%ENDSELECT%%></td>
		<td id="historico_vt-VcrRadTra5-<%%VALUE(VcrId)%%>" class="historico_vt-VcrRadTra5"><%%SELECT%%><%%VALUE(VcrRadTra5)%%><%%ENDSELECT%%></td>
		<td id="historico_vt-VcrFecTra5-<%%VALUE(VcrId)%%>" class="historico_vt-VcrFecTra5"><%%SELECT%%><%%VALUE(VcrFecTra5)%%><%%ENDSELECT%%></td>
		<td id="historico_vt-VcrResTra5-<%%VALUE(VcrId)%%>" class="historico_vt-VcrResTra5"><%%SELECT%%><%%VALUE(VcrResTra5)%%><%%ENDSELECT%%></td>
		<td id="historico_vt-VcrIdTra6-<%%VALUE(VcrId)%%>" class="historico_vt-VcrIdTra6 text-right"><%%SELECT%%><%%VALUE(VcrIdTra6)%%><%%ENDSELECT%%></td>
		<td id="historico_vt-VcrRadTra6-<%%VALUE(VcrId)%%>" class="historico_vt-VcrRadTra6"><%%SELECT%%><%%VALUE(VcrRadTra6)%%><%%ENDSELECT%%></td>
		<td id="historico_vt-VcrIdTra7-<%%VALUE(VcrId)%%>" class="historico_vt-VcrIdTra7 text-right"><%%SELECT%%><%%VALUE(VcrIdTra7)%%><%%ENDSELECT%%></td>
		<td id="historico_vt-VcrRadTra7-<%%VALUE(VcrId)%%>" class="historico_vt-VcrRadTra7"><%%SELECT%%><%%VALUE(VcrRadTra7)%%><%%ENDSELECT%%></td>
		<td id="historico_vt-VcrIdTra8-<%%VALUE(VcrId)%%>" class="historico_vt-VcrIdTra8 text-right"><%%SELECT%%><%%VALUE(VcrIdTra8)%%><%%ENDSELECT%%></td>
		<td id="historico_vt-VcrRadTra8-<%%VALUE(VcrId)%%>" class="historico_vt-VcrRadTra8"><%%SELECT%%><%%VALUE(VcrRadTra8)%%><%%ENDSELECT%%></td>
