<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the usuarios_init() hook (in hooks/usuarios.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="usuarios-VcrIdUsu-<%%VALUE(VcrIdUsu)%%>" class="usuarios-VcrIdUsu text-right"><%%SELECT%%><%%VALUE(VcrIdUsu)%%><%%ENDSELECT%%></td>
		<td id="usuarios-VcrNomUsu-<%%VALUE(VcrIdUsu)%%>" class="usuarios-VcrNomUsu"><%%SELECT%%><%%VALUE(VcrNomUsu)%%><%%ENDSELECT%%></td>
		<td id="usuarios-VcrIdenUsu-<%%VALUE(VcrIdUsu)%%>" class="usuarios-VcrIdenUsu"><%%SELECT%%><%%VALUE(VcrIdenUsu)%%><%%ENDSELECT%%></td>
